input[type="button"],input[type="submit"]
{
    height:40px;
    width:120px;
    border-radius:5px;
    border:2px solid rgb(224, 64, 224);
    color:rgb(224, 64, 224);
    background-color: white;
}
input[type="button"]:hover,input[type="submit"]:hover
{
    background-color: rgb(224, 64, 224);
    color: white;
    /* font-size:18px; */
}
.formcontrol{
    width:50%;
    
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top:10px;
    /* background-color: rebeccapurple; */
    font-size:20px;
    gap:2px;
}
input[type="text"],input[type="email"]
{
    height:25px;
    border:1px solid gray;
}
.btngroup
{
    flex-direction: row;
}
.eg
{
    width:45%;
    border:2px dashed red;
}
#box
{
    height:100px;
    width: 100px;
    background-color: orange;
}
table
{
    border:1px solid brown;
    width: 100%;
    border-collapse: collapse;
}

td,th
{
    border:1px solid gray;
    width: 25%;
    
}